.profile {
  display: flex;
  margin-top: 2em;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 180px;

  img {
    width: 180px;
    height: 180px;
    margin-bottom: 4px;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px 0;
    margin: 2px;
    font-size: 16px;
  }

  a {
    color: var(--text-color);
    transition: var(--transition-delay);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

// REPOS
.user-repos {
  margin-left: 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.repo-card {
  box-sizing: border-box;
  flex-basis: calc(50% - 6px);
  border: 1px solid #ccc;
  margin: 3px;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 3px;
  background-color: var(--repo-background-color);
  color: var(--repo-text-color);
  text-decoration: none;
  transition: var(--transition-delay);
  transform: scale(1);

  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }

  h4 {
    margin: 1em 0;
    text-decoration: underline;
  }
}
